@mixin flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin bg-img($bg) {
  background-image: $bg;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin list-unstyled {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  background-color: #fefcf7;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  position: sticky;
  top: 0;
  z-index: 50;
  backdrop-filter: blur(50px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-intro {
  padding-top: 32px;
  padding-bottom: 40px;
  @include flexbox;
}

.hamburg-btn {
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: none;
  @include bg-img(url("../images/bur.svg"));
  cursor: pointer;
}

.bg-img {
  @include bg-img(url("../images/bg.png"));

  text-align: center;
  padding: 100px 24px;
  border-radius: 10px;
}

.heading {
  margin: 0;
  font-family: "Fraunces", serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #fefcf7;
}

.text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #fefcf7;
  margin: 0;
  margin-top: 24px;
}

.btn {
  border: none;
  padding: 15px 31px;
  font-family: "Fraunces", serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 6px;
  background-color: #0e8784;
  border: 1px solid #0e8784;
  color: #fff;
  margin-top: 39px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  border: 1px solid #0e8784;
  background-color: transparent;
}

.nav-herf {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  text-transform: uppercase;
  color: #83888f97;
  position: relative;
  padding: 0 8px;
}

.nav-herf::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #0e8784;
  transition: 0.4s ease;
  transform: translateX(-50%);
}

.nav-herf:hover::before {
  width: 100%;
}

.navbar {
  display: none;
}

.wrapper {
  display: block;
  padding-top: 15px;
}

.name-logo {
  width: 100%;
  height: 72px;
  margin: 0 auto;
  margin-top: 120px;
}

.info-box {
  width: 280px;
  text-align: center;
  margin: 0 auto;
  margin-top: 48px;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.info-box:hover {
  transform: translateY(-12px) scale(1.03);
}

.info-boxs {
  width: 280px;
  text-align: center;
  margin: 0 auto;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.info-boxs:hover {
  transform: translateY(-12px) scale(1.03);
}

.info-img {
  width: 200px;
  height: 151px;
}

.info-title {
  font-family: "Fraunces", serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 16px;
  color: #333d4b;
}

.info-text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  margin: 0;
  color: #333d4b;
}

.wrapper-two {
  padding-top: 120px;
}

.black-wrapper {
  width: 327px;
  background-color: #2a3038;
  padding-bottom: 637px;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}

.black-text-wrapper {
  width: 327px;
  background-color: #2e343d;
  color: #fefcf7;
  padding-top: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  border-radius: 10px;
}

.black-heading {
  font-family: "Fraunces", serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.black-text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
}

.blue-wrapper {
  display: block;
  padding-top: 40px;
  position: absolute;
  left: 24px;
}

.blue-card {
  width: 279px;
  border-radius: 8px;
  background-color: #0e8784;
  padding-top: 72px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 51px;
  margin: 0 auto;
  margin-bottom: 24px;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  cursor: pointer;
}

.blue-card:hover {
  transform: translateY(-12px); /* tepaga ko‘tariladi */
  box-shadow: 0 18px 40px rgba(30, 64, 175, 0.35);
}

.blue-icon {
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
}

.blue-icons {
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
}

.blue-text-wrapper {
  width: 210px;
  color: #fefcf7;
  margin: 0 auto;
  padding-top: 56px;
}

.blue-text-wrapper-two {
  width: 225px;
  color: #fefcf7;
  margin: 0 auto;
  padding-top: 56px;
}

.blue-title {
  font-family: "Fraunces", serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.blue-text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
}

.wrapper-three {
  padding-top: 710px;
  padding-bottom: 120px;
}

.title-info {
  font-family: "Fraunces", serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
  color: #83888f;
  margin-bottom: 80px;
}

.info-box-wrapper {
  width: 320px;
  display: block;
  margin-top: 55px;
}

.info-number {
  font-family: "Fraunces", serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: center;
  color: #fdd6ba;
  margin: 0;
}

.info-heading {
  font-family: "Fraunces", serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
  color: #333d4b;
  margin-top: 24px;
}

.info-texts {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
  margin-top: 24px;
}

.info-btn {
  border: none;
  padding: 15px 31px;
  font-family: "Fraunces", serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
  border-radius: 6px;
  background-color: #0e8784;
  border: 1px solid #0e8784;
  color: #fefcf7;
  display: block;
  margin: 0 auto;
  margin-top: 79px;
  transition: 0.5s;
}

.info-btn:hover {
  border: 1px solid #0e8784;
  background-color: transparent;
  color: #333d4b;
}

.spn-img {
  display: none;
  width: 497px;
  height: 31px;
}

footer {
  padding-bottom: 22px;
}

.footer-boxs {
  background-color: #2c343e;
  padding: 54px;
}

.footer-logo {
  width: 218px;
  height: 24px;
  display: block;
  margin: 0 auto;
  margin-bottom: 48px;
}

.footer-navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-li {
  margin-top: 24px;
  text-align: center;
}

.footer-href {
  font-family: "Barlow", sans-serif;
  font-family: Barlow;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  text-transform: uppercase;
  text-decoration: none;
  color: #83888f97;
}

.logos-wrapper {
  width: 120px;
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
  margin-left: 53px;
}

.footer-logo-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .hamburg-btn {
    display: none;
  }

  .navbar {
    display: block;
  }

  .navbar-list {
    @include list-unstyled;
    display: flex;
    align-items: center;
    gap: 33px;
  }

  .text-box {
    width: 368px;
  }

  .text {
    text-align: left;
  }

  .bg-img {
    text-align: left;
  }

  .info-img {
    width: 255px;
    height: 193px;
    margin-left: 36px;
  }

  .info-text-box {
    width: 280px;
  }

  .info-box {
    width: 573px;
    display: flex;
    align-items: center;
    text-align: start;
  }

  .info-boxs {
    width: 573px;
    display: flex;
    align-items: center;
    text-align: start;
  }

  .name-logo {
    width: 689px;
    height: 118px;
    text-align: center;
  }

  .black-wrapper {
    width: 688px;
    padding-bottom: 359px;
  }

  .black-text-wrapper {
    width: 688px;
    background-color: #2a3038;
  }

  .blac-text-wrapper {
    width: 495px;
    margin: 0 auto;
  }

  .blue-card {
    width: 573px;
    display: flex;
    align-items: center;
    gap: 55px;
    margin-left: 33px;
    padding: 0;
    padding-top: 41px;
    padding-bottom: 41px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .blue-text-wrapper {
    width: 340px;
    padding: 0;
  }

  .blue-text-wrapper-two {
    width: 340px;
    padding: 0;
  }

  .blue-text {
    text-align: left;
  }

  .blue-title {
    text-align: left;
  }

  .wrapper-mini {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .spn-img {
    display: block;
    margin-top: 50px;
  }

  .title-info {
    text-align: left;
    margin-bottom: 0;
  }

  .info-btn {
    margin: 0;
    margin-top: 44px;
  }

  .info-box-wrapper {
    width: 211px;
  }

  .wr {
    width: 200px;
  }

  .wrpp {
    width: 211px;
  }

  .wrp {
    width: 204px;
  }

  .info-number {
    text-align: left;
  }

  .info-heading {
    text-align: left;
  }

  .info-texts {
    text-align: left;
  }

  .footer-logo {
    margin-bottom: 0;
    margin-bottom: 12px;
  }

  .footer-navbar-list {
    display: flex;
    align-items: center;
    gap: 33px;
    margin-left: 170px;
    margin-top: 0;
  }

  .logos-wrapper {
    display: block;
    margin: 0 auto;
    margin-top: 67px;
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .bg-img {
    padding: 117px 85px;
  }

  .heading {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 0px;
    text-align: left;
  }

  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
  }

  .text-box {
    width: 493px;
  }

  .tetx-boxs {
    width: 440px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
  }

  .info-img {
    margin: 0 auto;
    margin-left: 0;
  }

  .info-text-box {
    width: 245px;
  }

  .info-box {
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .info-boxs {
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .name-logo {
    width: 100%;
    height: 196px;
  }

  .black-wrapper {
    width: 1280px;
    padding-bottom: 259px;
  }

  .black-text-wrapper {
    width: 100%;
    background-color: #2a3038;
  }

  .blue-wrapper {
    display: flex;
    margin-left: 23px;
  }

  .blue-card {
    width: 350px;
    display: block;
    padding: 0;
    padding-top: 72px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .blue-text-wrapper {
    width: 240px;
    margin-top: 67px;
  }

  .blue-text-wrapper-two {
    width: 240px;
    margin-top: 67px;
  }

  .blue-text {
    text-align: center;
  }

  .blue-title {
    text-align: center;
  }

  .wrapper-mini {
    width: 1045px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .spn-img {
    display: block;
    margin-top: 80px;
    margin-bottom: 27px;
  }

  .title-info {
    text-align: left;
    margin-bottom: 0;
  }

  .info-btn {
    margin: 0;
    margin-top: 64px;
  }

  .info-box-wrapper {
    width: 211px;
  }

  .wr {
    width: 285px;
  }

  .wrpp {
    width: 265px;
  }

  .wrp {
    width: 215px;
  }

  .info-number {
    text-align: left;
  }

  .wrapper-three {
    padding-top: 0;
    margin-top: 360px;
  }

  .info-heading {
    text-align: left;
  }

  .info-text {
    text-align: center;
  }

  .footer-boxs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-logo {
    margin: 0;
  }

  .footer-li {
    margin: 0;
  }

  .footer-navbar-list {
    margin: 0;
    margin-left: -200px;
  }

  .logos-wrapper {
    margin: 0;
  }
}
