* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  background-color: #fefcf7;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-intro {
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburg-btn {
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: none;
  background-image: url("../images/Combined Shape.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-img {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 24px;
  border-radius: 10px;
}

.heading {
  margin: 0;
  font-family: "Fraunces", serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #fefcf7;
}

.text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #fefcf7;
  margin: 0;
  margin-top: 24px;
}

.btn {
  border: none;
  padding: 15px 31px;
  font-family: "Fraunces", serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 6px;
  background-color: #0e8784;
  color: #fff;
  margin-top: 39px;
}

a {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  text-transform: uppercase;
  color: rgba(131, 136, 143, 0.5921568627);
}

.navbar {
  display: none;
}

.wrapper {
  display: block;
  padding-top: 15px;
}

.name-logo {
  width: 100%;
  height: 72px;
  margin: 0 auto;
  margin-top: 120px;
}

.info-box {
  width: 280px;
  text-align: center;
  margin: 0 auto;
  margin-top: 48px;
}

.info-boxs {
  width: 280px;
  text-align: center;
  margin: 0 auto;
}

.info-img {
  width: 200px;
  height: 151px;
}

.info-title {
  font-family: "Fraunces", serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 16px;
  color: #333d4b;
}

.info-text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  margin: 0;
  color: #333d4b;
}

.wrapper-two {
  padding-top: 120px;
}

.black-wrapper {
  width: 327px;
  background-color: #2a3038;
  padding-bottom: 637px;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}

.black-text-wrapper {
  width: 327px;
  background-color: #2e343d;
  color: #fefcf7;
  padding-top: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  border-radius: 10px;
}

.black-heading {
  font-family: "Fraunces", serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.black-text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
}

.blue-wrapper {
  display: block;
  padding-top: 40px;
  position: absolute;
  left: 24px;
}

.blue-card {
  width: 279px;
  border-radius: 8px;
  background-color: #0e8784;
  padding-top: 72px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 51px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.blue-icon {
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
}

.blue-icons {
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
}

.blue-text-wrapper {
  width: 210px;
  color: #fefcf7;
  margin: 0 auto;
  padding-top: 56px;
}

.blue-text-wrapper-two {
  width: 225px;
  color: #fefcf7;
  margin: 0 auto;
  padding-top: 56px;
}

.blue-title {
  font-family: "Fraunces", serif;
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.blue-text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .hamburg-btn {
    display: none;
  }
  .navbar {
    display: block;
  }
  .navbar-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 33px;
  }
  .text-box {
    width: 368px;
  }
  .text {
    text-align: left;
  }
  .bg-img {
    text-align: left;
  }
  .info-img {
    width: 255px;
    height: 193px;
    margin-left: 36px;
  }
  .info-text-box {
    width: 280px;
  }
  .info-box {
    width: 573px;
    display: flex;
    align-items: center;
    text-align: start;
  }
  .info-boxs {
    width: 573px;
    display: flex;
    align-items: center;
    text-align: start;
  }
  .name-logo {
    width: 689px;
    height: 118px;
    text-align: center;
  }
  .black-wrapper {
    width: 688px;
    padding-bottom: 359px;
  }
  .black-text-wrapper {
    width: 688px;
    background-color: #2a3038;
  }
  .blac-text-wrapper {
    width: 495px;
    margin: 0 auto;
  }
  .blue-card {
    width: 573px;
    display: flex;
    align-items: center;
    gap: 55px;
    margin-left: 33px;
    padding: 0;
    padding-top: 41px;
    padding-bottom: 41px;
    padding-left: 48px;
    padding-right: 48px;
  }
  .blue-text-wrapper {
    width: 340px;
    padding: 0;
  }
  .blue-text-wrapper-two {
    width: 340px;
    padding: 0;
  }
  .blue-text {
    text-align: left;
  }
  .blue-title {
    text-align: left;
  }
}
@media only screen and (min-width: 1440px) {
  .bg-img {
    padding: 117px 85px;
  }
  .heading {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 0px;
    text-align: left;
  }
  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
  }
  .text-box {
    width: 493px;
  }
  .tetx-boxs {
    width: 440px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
  }
  .info-img {
    margin: 0 auto;
    margin-left: 0;
  }
  .info-text-box {
    width: 245px;
  }
  .info-box {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .info-boxs {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .name-logo {
    width: 100%;
    height: 196px;
  }
  .black-wrapper {
    width: 1280px;
    padding-bottom: 259px;
  }
  .black-text-wrapper {
    width: 100%;
    background-color: #2a3038;
  }
  .blue-wrapper {
    display: flex;
    margin-left: 23px;
  }
  .blue-card {
    width: 350px;
    display: block;
    padding: 0;
    padding-top: 72px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
  }
  .blue-text-wrapper {
    width: 240px;
    margin-top: 67px;
  }
  .blue-text-wrapper-two {
    width: 240px;
    margin-top: 67px;
  }
  .blue-text {
    text-align: center;
  }
  .blue-title {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */